<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YTU-Skylab Bootcamp</title>
</head>
<body>
    <h1>YTU-Skylab Bootcamp</h1>
    <form action="/api/tweets" method="POST" enctype="application/x-www-form-urlencoded">
        <label for="username">User Name</label>
        <input type="text" name="username" id="username">
        <label for="body">Tweet</label>
        <input type="text" name="body" id="body">
        <button type="submit">Tweet</button>
    </form>
</body>
</html>